<div class="p-md-5 m-5" id="ourexperience">
  <div class="row">
    <div class="col">
      <h1 class="text-center fw-bolder mb-5">Our Experiences</h1>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-3">
      <ng-container *ngFor="let type of types">
        <div class="row flex-column">
          <div class="col-md-12">
            <h3 class="pb-md-3 {{ type.expanded ? 'border-bottom' : '' }} border-black pointer-type text-center"
                (click)="onClickType(type)">{{ type.name }}</h3>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-md-9 mt-5">
      <div>
        <ng-container *ngIf="contents.length <= 1">
          <ng-container *ngFor="let content of contents">
            <p class="text-start">{{ content }}</p>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="contents.length > 1">
          <ol type="1">
            <ng-container *ngFor="let content of contents">
              <li class="text-justify">{{ content }}</li>
            </ng-container>
          </ol>
        </ng-container>
      </div>
    </div>
  </div>
</div>
