<div class="w-100">
  <h1 class="text-center mt-5"><span class="fw-bolder">Meet</span> Our <span class="fw-bolder">Leaders</span></h1>
  <div id="ourmanagement" class="carousel slide m-5" data-bs-ride="true">
    <div class="carousel-indicators" style="bottom: -50px;">
      <button type="button" data-bs-target="#ourmanagement" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1" style="width: 70px;"></button>
      <button type="button" data-bs-target="#ourmanagement" data-bs-slide-to="1" aria-label="Slide 2" class="bg-dark" style="width: 70px;"></button>
    </div>
    <div class="carousel-inner">
      <ng-container *ngFor="let management of managements">
        <div class="carousel-item {{ management.active ? 'active' : '' }}">
          <div class="card mb-3 border-0 mx-auto" style="max-width: 90rem;">
            <div class="row">
              <div class="col-md-6">
                <img [src]="management.image"
                     class="card-img h-100 object-fit-contain img-thumbnail border-0"
                     alt="{{ management.name }}" >
              </div>
              <div class="col-md-6 rounded-5 bg-gray">
                <div class="card-body">
                  <p class="card-title fw-bolder" style="font-size: 18px">{{ management.name }}</p>
                  <p class="card-title fw-bold fs-6">{{ management.position }}</p>
                  <p class="card-text text-left mt-3 text-justify">{{ management.description }}</p>
                  <p class="card-text text-left text-decoration-underline mt-3">Formal Education</p>
                  <ul>
                    <li *ngFor="let item of management.formal_education" class="text-justify" [innerHtml]="item"></li>
                  </ul>
                  <p class="card-text text-left text-decoration-underline">Certifications & Licenses</p>
                  <ul>
                    <li *ngFor="let item of management.certifications_licenses" class="text-justify" [innerHtml]="item"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-container>
    </div>
    <div class="carousel-control-prev">
      <button class="carousel-control-prev-icon bg-dark text-center btn rounded-circle" type="button" aria-hidden="true" data-bs-target="#ourmanagement" data-bs-slide="prev"></button>
      <span class="visually-hidden">Previous</span>
    </div>
    <div class="carousel-control-next">
      <button class="carousel-control-next-icon text-center bg-dark btn rounded-circle" type="button" aria-hidden="true" data-bs-target="#ourmanagement" data-bs-slide="next"></button>
      <span class="visually-hidden">Next</span>
    </div>
  </div>
</div>

