<!-- Background image -->
<div
  class="p-5 text-center"
  style="background-image: url('./assets/background barracklegal bw.jpg'); height: 90vh;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">
        <img src="assets/logo.png"
             style="max-width: 15rem; max-height: 15rem;"
             alt="logo barrack legal">
      </h1>
      <h2 class="mb-3 fw-bolder">
        IN ASSOCIATION WITH EDGE LAW
      </h2>
      <p>
        Graha Kana Lt. 5 Unit 05, Jl. Angkasa Blok B-16 Kav. 4, <br>
        Gunung Sahari Selatan, Kemayoran, Jakarta Pusat, <br>
        DKI Jakarta, Indonesia 10720 <br><br>
        law@baracklegal.com | (+62 21)-2605-8325
      </p>
    </div>
  </div>
</div>
<!-- Background image -->
