p {
  font-size: 21px;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 18px; /* Ukuran font untuk layar yang lebih kecil */
  }
}

/* Atur ukuran font untuk layar yang lebih kecil lagi */
@media screen and (max-width: 480px) {
  p {
    font-size: 14px; /* Ukuran font untuk layar yang lebih kecil lagi */
  }
}
