/* You can add global styles to this file, and also import other style files */

.custom-card {
  height: 700px; /* Set the fixed height of the cards */
  overflow-y: auto;
}

.pointer, .pointer-type {
  cursor: pointer;
}

.pointer:hover {
  opacity: 0.5;
}

.pointer-type:hover {
  font-weight: bold;
  font-size: x-large;
  border-width: 1px;
  border-bottom: #000 solid;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
}

.sidebar-item {
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-item:hover {
  background-color: #ddd;
}

.expanded {
  font-weight: bold;
  /* Add additional styles for expanded state */
}

.text-justify {
  text-align: justify;
}


.bg-gray { background-color:#d4d4d4; }
